<%- layout("./layouts/main") %>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                Signup
            </div>
            <div class="card-body">
                <form action="/signup" method="post">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Insert email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Insert password">
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-block">Signup</button>
                </form>
            </div>
        </div>
    </div>
</div>